@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .absolute {
      position: absolute;
  }
  .avatar {
      @apply shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16
  }

  .avatar img {
    max-width: 150px;
  }

  .bg-cover {
    background: url('/home-bg.jpg');
    /* background: url('https://images.unsplash.com/photo-1499336315816-097655dcfbda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2710&q=80') */
  }
}

body {
  font-family: Poppins;
}